* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 100%;
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

.images div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.images img {
    width: 25%;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    margin-bottom: 5vh;
    -webkit-box-shadow: black 10px 10px 20px 1px;
            box-shadow: black 10px 10px 20px 1px;
}

.images img:hover {
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
}

.images h2 {
    margin-top: 5vh;
}

.images p {
    padding: 1em;
}

iframe {
    -webkit-filter: grayscale(50%);
            filter: grayscale(50%);
    width: 100vw;
    height: 100vh;
}

nav {
    width: 6vh;
    height: 6vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 6vh;
    right: 6vh;
    cursor: pointer;
    z-index: 10;
    position: fixed;
}

.line1, .line2, .line3 {
    width: 100%;
    height: 15%;
    border-radius: 150px;
    background-color: black;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.change .line1 {
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: translateY(222%) rotate(-45deg);
    -ms-transform: translateY(222%) rotate(-45deg);
        transform: translateY(222%) rotate(-45deg);
    background-color: white;
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: translateY(-222%) rotate(45deg);
    -ms-transform: translateY(-222%) rotate(45deg);
        transform: translateY(-222%) rotate(45deg);
    background-color: white;
}

footer p {
    color: white;
}

#navContent {
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-color: black;
    position: absolute;
    top: 0;
    z-index: -9;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.links {
    height: 100vh;
    padding-top: 200px;
}

#navContent a {
    width: 100vw;
    color: white;
    font-size: 5vh;
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
    height: 33.3%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#text {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.5vh;
}

#text h1 {
    background-color: #02020283;
    padding: 1em;
    color: white;
}

.headline h1 {
    padding: 1em;
    font-size: 6vh;
    text-align: center;
    font-weight: bolder;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}

.active {
    -webkit-box-shadow: inset 0 0 60px grey;
            box-shadow: inset 0 0 60px grey;
}

#navContent a:not(.active):hover {
    background-color: white;
    color: black;
}

main {
    width: 100vw;
    padding: 3vw 3vw 0;
}

.boxes {
    background-color: white;
    padding: 8vh;
    margin: 6vh 0;
    border-radius: 3vh;
}

h2 {
    text-align: center;
    font-size: 5vh;
    padding-bottom: 3vh;
}

h3 {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    font-size: 3vh;
    padding-bottom: 1.5vh;
}

p {
    font-size: 2.5vh;
    color: rgb(102, 94, 94);
}

footer {
    bottom: 0;
    background-color: black;
    color: white;
    padding: 1em;
    width: 100vw;
    text-align: center;
}

#scrollDown {
    position: fixed;
    width: 10%;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    height: 8vw;
    bottom: 6vh;
    z-index: 10;
    opacity: 1;
    background-color: black;
    clip-path: polygon(50% 82%, 90% 68%, 50% 100%, 10% 68%);
    -webkit-clip-path: polygon(50% 82%, 90% 68%, 50% 100%, 10% 68%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#scrollDown:hover {
    clip-path: polygon(50% 82%, 75% 60%, 50% 100%, 25% 60%);
    -webkit-clip-path: polygon(50% 82%, 75% 60%, 50% 100%, 25% 60%);
}

.formatBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.left, .right {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    height: 100%;
}

.right picture, .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.right picture img {
    width: 50%;
    height: auto;
}

.box1 p {
    padding: 1vw;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #782785 14%,#616cb8 64%);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, #616CB8 14%,#782785 64%);
}

::-webkit-scrollbar-track{
    background: #dbdbdb;
}

@media screen and (max-width: 1350px) {
    .formatBox {
        display: block;
    }
    
    .right {
        margin: 3vh 0;
    }

    .images div img {
        width: 35%;
        margin: 1.5em;
    }

    .images div {
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    .images div img {
        width: 65%;
        margin: 1.5em;
    }
}